if ARCH_SNAPDRAGON

choice
	prompt "Snapdragon board select"

config TARGET_DRAGONBOARD
	bool "96Boards Dragonboard 410C"
endchoice

config SYS_SOC
	default "snapdragon"

source "board/qualcomm/dragonboard/Kconfig"
endif
